* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("Images/Hell.jpg");
    background-size: auto !important;
    background-repeat: no-repeat;
}

.confirm-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
}
